@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Qwitcher+Grypen&family=Rouge+Script&display=swap');

body {  
  /* background: url(/image/image-copy.png) no-repeat; */
  background: url(/image/image-copy.png) no-repeat;
  /* background-color: aliceblue; */
  width: 95%;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  background-size: cover;         
}
          
.signup-box {
    width: 360px;
    height: 550px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(33, 28, 28);
}
          
.login-box {
  width: 360px;
  height: 300px;
  margin: auto;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px  10px rgb(24, 20, 20);
}
          
h1 {
    text-align: center;
     padding-top: 15px;
  }
          
h4 {
  text-align: center;
}
          
form {
  width: 300px;
  margin-left: 20px;
}


.btn{
  margin-top: 10px;
  display:inline-block;
  margin-left: 100px;
  padding:9px 30px;
  border-radius: 3.5px;
  color:#fff;
  background:#27ae60; 
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #FFFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
}

.btn:hover{
  background:#219150;
  color: white; 
}

          
form label {
            display: flex;
            margin-top: 20px;
            font-size: 18px;
          }
          
          form input {
            width: 100%;
            padding: 7px;
            border: none;
            border: 1px solid gray;
            border-radius: 6px;
            outline: none;
          }
          input[type="button"] 
          {
            width: 320px;
            height: 35px;
            margin-top: 20px;
            border: none;
            background-color: #27ae60;
            color: white;
            font-size: 18px;
          }
          .signup-box  p {
            text-align: center;
            padding-top: 20px;
            font-size: 15px;
          }
          .signup-box .para-2 {
            text-align: center;
            color: rgb(14, 12, 12);
            font-size: 15px;
            margin-top: -10px;
          }
         .signup-box .para-2 a {
            color: rgb(32, 226, 32);
          }
          
           p {
            text-align: center;
            padding-top: 20px;
            font-size: 15px;
          }
.login-box .para-3 {
    text-align: center;
  color: rgb(14, 12, 12);
     font-size: 15px;
    margin-top: -10px;
          }
.login-box .para-3 a {
    color: rgb(12, 236, 12);
    font-size: medium;
          }