<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book Galore </title>
    <script src="https://kit.fontawesome.com/cc9cc1a515.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/AboutUs.css">
</head>
<body>
        
        <div class="dmainbg">
            <div class="dbackgrnd">
                <div class="dbg1"></div>
                <div class="dbg2">
                    <a href="/" class="fa-sharp fa-solid fa-xmark"></a>
                </div>
                
            </div>
            <div class="dabout-container">
                <div class="dimg-container">
                    <img src="/image/About us.jpeg" alt="about us icon">
                </div>
                 <div class="dtext-container">
                    <h1>About us</h1>
                    <p>Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut doloremque delectus quia, est, molestias deserunt ipsum ea natus porro eligendi facilis at libero velit, aliquam a quibusdam. Quod, perspiciatis. dolor sit amet consectetur adipisicing elit. Veniam blanditiis eligendi ea nobis dolor necessitatibus, voluptatum fuga sequi ad consectetur nesciunt molestiae corrupti illo natus fugit velit sapiente! Ut, architecto.</p>
                </div> 
            </div>
             </div>
    
    
    
        <div class="dsecondpage">
            <div class="dfhalf">
            <div class="dbox1">
                <i class="fa-solid fa-handshake"></i>
                <h2>variety of books</h2>
                <p>many books from all over the world bciscewi ehsdj</p>
            </div>
            <div class="dbox2">
                <i class="fa-solid fa-handshake"></i>
                <h2>variety of books</h2>
                <p>many books from all over the world bciscewi ehsdj</p>
            </div>
            <div class="dbox3">
                <i class="fa-solid fa-handshake"></i>
                <h2>variety of books</h2>
                <p>many books from all over the world bciscewi ehsdj</p>
            </div>
            <div class="dbox4">
                <i class="fa-solid fa-handshake"></i>
                <h2>variety of books</h2>
                <p>many books from all over the world bciscewi ehsdj</p>
            </div>
        </div>
    
            <div class="dshalf">
                <h3>Our Services</h3>
                <h1>Best Experiences</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia totam ipsam sequi accusamus at! Molestiae provident, mollitia enim eum, nisi quibusdam sequi vel suscipit, ratione amet aliquam ipsum nesciunt dicta?</p>
                <a href="#" onclick="alert('You have been Subscribed');" class="btn"><b>Subscribe</b></a>
            </div>
    
        </div>

        <div class="dreviewsection">
            <div class="dfirsthalf">
                <h1>Client Reviews</h1>
                <div class="dfirstreviewbox">
                    <div class="dimgtom1">
                        <img src="/image/blog-1.jpg" alt="first review">
                        <p>Tom Cruise<br><br><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetucaecati, officia maxime eum dolores hic? Quasi eaque illo, omnis doloribus dolorum officia optio sunt sint earum.</p> 
                </div>

                <div class="dsecreviewbox">
                    <div class="dimgtom2">
                        <img src="/image/pic-1.png" alt="first review">
                        <p>Dwyane Jhonson<br><br><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
                    </div>
                    <p>Lorem ipsum dolor sit ameuga quia eveniet quidem odit incidunt inventore? Quisquam aliquam a recusandae mollitia veritatis, adipisci reprehenderit itaque in?
                    </p>
                </div>

            </div>

            <div class="dsechalf">
                <div class="dthirdreviewbox">
                    <div class="dimgtom3">
                        <img src="/image/pic-3.png" alt="first review">
                        <p>Robert Downey Jr.<br><br><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>

                    <p>Lorem ipsum, dolor sit amet cit neque aliquam. Laudantium, impedit praesentium placeat Lorem ipsum dolor  eius.placeat Lorem ipsum dolor  eius
                <div class="dforthreviewbox">
                    <div class="dimgtom4">
                        <img src="/image/pic-4.png" alt="first review">
                        <p>Ryan Ryenolds<br><br><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetet fugit quod commodi inventore nihil, temporibus nisi, impedit perferendis libero non iure, in nam ipsam!</p>
                </div>
            </div>
        </div>

    
</body>
</html>