<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book Galore </title>

    <link rel="stylesheet" href="css/Arrivals.css">

    <!-- For font awesome cdn link -->
    <script src="https://kit.fontawesome.com/cc9cc1a515.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>


{{!-- ---------------Navigation Section-------------------------------  --}}


    <header class="header ">
        <div class="header-1">
            <a href="/" class="logo"> <i class="fas fa-book"></i> Galore </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="Main Page.html" class="fas fa-user"></a>
        </div>
        </div>
        <div class="header-2">
            <nav class="navbar">
                <a href="/">home</a>
                <a href="/"> featured</a>
                <a href="#arrivals"> arrivals</a>
                <a href="/about"> about</a>
                <a href="/contactus">Contact </a>
            </nav>
        </div>
        
    </header> 


    <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>

    <div id="main">
        
    </div>

<header id="arrivals">

</header>
<section class="r">

</section>


       <center><hr size="3.5" width="75%" color="black">  </center>

    <div id="footer">

    </div>

    <script>
        async function loadBMUPage(){
            let request = new Request("bmu.json")
            let response = await fetch(request)
            let json_obj = await response.json()
            
            loadImage(json_obj)
            loadtitle(json_obj)
            loadGurgaon(json_obj)
            loadGurgaon1(json_obj)
            loadDeptInfo(json_obj)
        }


    

        var els = document.getElementsByTagName('a');
        for (var el = 0; el < els.length; el++) {
        els[el].style["text-decoration"] = "none";
        }

        //------------------------------------------ Main ------------------------------------------------------//
        let div = document.getElementById("main")

        function loadImage(bmu_json_obj) {
    let h2 = document.createElement("h1")
    h2.textContent = bmu_json_obj['main_head']
    h2.style.fontSize="50px";
    h2.style.fontStyle="normal";
    h2.style.fontWeight="350px";
    h2.style.fontFamily="Nova Flat";
    h2.style.textShadow="0px 4px 4px rgb(187, 152, 152)";
    h2.style.textTransform="uppercase";        
    h2.style.color="#000000";  
    div.appendChild(h2)     



    let h21 = document.createElement("h3")
    h21.textContent = bmu_json_obj['main_head1']
    h21.style.fontSize="45px";
    // h2.style.fontStyle="normal";
    // h2.style.fontWeight="350px";
    h21.style.margin="-80px 110px";
    h21.style.fontFamily="'Rock Salt', cursive";
    // h2.style.textShadow="0px 4px 4px rgb(187, 152, 152)";
    // h21.style.textTransform="uppercase";        
    h21.style.color="#000000";  

    div.appendChild(h21)    



    let h12 = document.createElement("h2")
    h12.textContent = bmu_json_obj['main_content1']
    h12.style.fontSize="25px";
    h12.fontStyle="normal";
    h12.fontWeight="400";
    h12.style.color="#000000";
    h12.style.fontFamily="'Gentium Book Basic', serif";
    h12.style.margin="100px 110px 10px";  
    div.appendChild(h12)




    let h13 =  document.createElement("h2")
    h13.textContent=bmu_json_obj['main_content2']
    h13.style.fontSize="25px";
    h13.fontStyle="normal";
    h13.fontWeight="400";
    h13.style.color="#000000";
    h13.style.fontFamily="'Gentium Book Basic', serif";
    h13.style.margin="15px 110px 30px";  
    div.appendChild(h13)


    const button = document.createElement('button')
    button.innerText = bmu_json_obj['main_post']
    button.id = 'mainButton'

    button.addEventListener('click', () => {
        alert('Oh, you clicked me!')
    })
    div.appendChild(button)

}

let div1 = document.getElementById("arrivals")
    function loadtitle(l_json_obj) {
    let h4 = document.createElement("h1")
    h4.textContent = l_json_obj['as'] 
    h4.style.margin = "20px 0 20px 680px";       
    div1.appendChild(h4)
}


function loadGurgaon(json_obj){

    
let s1=document.querySelector(".r")
let x= json_obj['items'] 

     let box2=document.createElement("div")
     box2.className="box2"
for (let i of x)
{

let box= document.createElement("div")
box.className="box"

let image=document.createElement("img")
image.src=i.image
image.className="room-image"

let hello=document.createElement("ul")
let b=document.createElement("h3")
let c=document.createElement("h4")
let d=document.createElement("h5")
b.innerHTML=i.title
c.innerHTML=i.rate
d.innerHTML=i.rate1

hello.appendChild(b)
hello.appendChild(c)
hello.appendChild(d)


box.appendChild(image)
box.appendChild(hello)
 box2.appendChild(box)
s1.appendChild(box2)

}
  }


  function loadGurgaon1(json_obj){

    
let s1=document.querySelector(".r")
let x= json_obj['items1'] 

     let box2=document.createElement("div")
     box2.className="box2"
for (let i of x)
{

let box= document.createElement("div")
box.className="box"

let image=document.createElement("img")
image.src=i.image
image.className="room-image"

let hello=document.createElement("ul")
let b=document.createElement("h3")
let c=document.createElement("h4")
let d=document.createElement("h5")
b.innerHTML=i.title
c.innerHTML=i.rate
d.innerHTML=i.rate1

hello.appendChild(b)
hello.appendChild(c)
hello.appendChild(d)


box.appendChild(image)
box.appendChild(hello)
 box2.appendChild(box)
s1.appendChild(box2)

}
  }





// <!-- ---------------Footer Section------------------------------- -->
        
        
function loadDeptInfo(bmu_json_obj)
        {

            let div = document.getElementById("footer")
            let depts = bmu_json_obj['depts']
            // section.body.style.position = "absolute";
            
            for(let dept of depts)
            {
                let article = document.createElement("article")
               
                let h1 = document.createElement("h2")
                h1.textContent= dept.type
                article.appendChild(h1)
                h1.style.textAlign="center";
                h1.style.fontSize="26px";
               
                let ul = document.createElement("ul")
                let elects = dept.electives

                for(let elect of elects)
                {
                    let li = document.createElement("li")
                    li.textContent= elect
                    ul.appendChild(li)
                }
                
                article.appendChild(ul)
                div.appendChild(article)
 
            }
        
        }


   loadBMUPage()
    </script>


{{!-- ---------------Footer Section-------------------------------  --}}

        <!-- <section class="footer">

            <div class="box-container">
        
        
                <div class="box">
                    <h3>quick links</h3>
                    <a href="/"> <i class="fas fa-arrow-right"></i> home </a>
                    <a href="#featured"> <i class="fas fa-arrow-right"></i> featured </a>
                    <a href="#arrivals"> <i class="fas fa-arrow-right"></i> arrivals </a>
                    <a href="About Us.html"> <i class="fas fa-arrow-right"></i> about </a>
                    <a href="#contact"> <i class="fas fa-arrow-right"></i> contact </a>
                </div>
        
                <div class="box">
                    <h3>extra links</h3>
                    <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
                </div>
        
                <div class="box">
                    <h3>contact info</h3>
                    <a href="#"> <i class="fas fa-phone"></i> +91 80085 28123 </a>
                    <a href="#"> <i class="fas fa-phone"></i> +91 73961 48439</a>
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwRCKwLhvJsPbFFmfRSscJzZZVMvgNThMsNkVSRLHcBDqQNrxPTtqMjHtjhKQRBssnzpbCT" 
                    target="_blank" > <i class="fas fa-envelope"></i>godavarthisai.nikhil.21cse@bmu.edu.in </a>
                    <a href="https://www.google.com/maps/place/India+Gate+Cir,+Pandara+Flats,+India+Gate,+New+Delhi,+Delhi/@28.6097395,77.227924,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce2d0ff0f84b7:0x377998606db03f55!8m2!3d28.6097395!4d77.2301127" 
                    target="_blank"> <i class="fas fa-map-marker-alt"></i> Delhi,India - 110012 </a>
                </div>
                
                <div class="share">
                    <h3>Follow Us</h3>
                        <a href="https://www.facebook.com/"  target="_blank" class="fab fa-facebook-f"> </a>
                        <a href="https://twitter.com/i/flow/login" target="_blank" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/?hl=en" target="_blank" class="fab fa-instagram"></a>
                        <a href="https://in.linkedin.com/" target="_blank" class="fab fa-linkedin"></a>
                </div>
                
            </div>
        
        </section> -->

</body>
</html>