<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Final.css">
</head>
<body>
    {{>header}}


{{!-- ---------------Home Section-------------------------------  --}}


<section class="home1 container" id="home">
    <div class="content">
        <h3>Welcome!</h3>
        <p>Books are a special kind of <br> portable magic.</p>
        <a href="#" class="btn"><b>Shop now</b></a>
    </div>
</section>


<section class="home" id="home">

    <div class="row">


        <div class="books-slider">
            <div class="customer">
                <div class="main">
                    <div class="schoolslides">
                       <a href="/product" class="law"><img src="/image/1.1.jpeg" alt=""></a>
                       <a  herf="#" class="law"><img src="/image/1.2.jpeg" alt=""></a>
                       <a href="#" class="law"><img src="/image/1.3.jpeg" alt=""></a>
                       <a  herf="#" class="law"><img src="/image/1.6.jpeg" alt=""></a>
                       <a  herf="#" class="law"><img src="/image/1.10.jpeg" alt=""></a>
                       <a href="#" class="law"><img src="/image/1.9.jpeg" alt=""></a>
                       <a href="#" class="law"><img src="/image/1.5.jpeg" alt=""></a>
                       <a  herf="#" class="law"><img src="/image/1.4.jpeg" alt=""></a>
                       <a href="#" class="law"><img src="/image/1.7.jpeg" alt=""></a>
                    </div>
                </div>
            </div>

            
            <img src="/image/stand.png" class="stand" alt="">
        </div> 

        <section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>Free Shipping</h3>
            <p>Orders Upto ₹2500</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>Secure Payment</h3>
            <p>100% Secure Payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>Easy Returns</h3>
            <p>10 Days Returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 Support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>


    </div>

</section> 


{{!--  ---------------Featured Section------------------------------- --}}


<section class="featured" id="featured">

    <h1 class="heading"> <span>featured books</span> </h1>
    <div class="featured-slider">
        <div class="wrapper">
            <div class="slide box">
                
                <div class="icons">
                    <a href="https://en.wikipedia.org/wiki/A_Tale_of_Two_Cities" target="_blank" class="fas fa-search"></a>
                    <a href= "#"onclick ="alert('Item Saved to Shopping List');" class="fas fa-heart"></a>
                    <a href="product1.html" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/image/book--1.jpeg" alt="">
                </div>


                <div class="content">
                    <h3>A Tale of Two Cities</h3>
                    <div class="price">₹245.00 <span>₹400.00</span></div>
                    <a href="#" onclick="alert('Item added to Shopping Cart');" class="btn">add to cart</a>
                </div>
            </div>
            


            <div class="slide box">
                <div class="icons">
                    <a href="https://en.wikipedia.org/wiki/Rich_Dad_Poor_Dad" target="_blank" class="fas fa-search"></a>
                    <a href="#" onclick="alert('Item Saved to Shopping List');" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/image/book--2.jpeg" alt="" >
                </div>
                <div class="content">
                    <h3>Rich Dad Poor Dad</h3>
                    <div class="price">₹139.00<span>₹299.00</span></div>
                    <a href="#" onclick="alert('Item added to Shopping Cart');" class="btn">add to cart</a>
                </div>
            </div>


            <div class="slide box">
                <div class="icons">
                    <a href="https://www.simonandschuster.com/books/Naruto-Vol-5/Masashi-Kishimoto/Naruto/9781591163596" target="_blank" class="fas fa-search"></a>
                    <a href="#" onclick="alert('Item Saved to Shopping List');" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/image/book--3.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>Naruto Vol - 5</h3>
                    <div class="price">₹400.00 <span>₹650.00</span></div>
                    <a href="#" onclick="alert('Item added to Shopping Cart');" class="btn">add to cart</a>
                </div>
            </div>


            <div class="slide box">
                <div class="icons">
                    <a href="https://en.wikipedia.org/wiki/To_Kill_a_Mockingbird"  target="_blank" class="fas fa-search"></a>
                    <a href="#" onclick="alert('Item Saved to Shopping List');" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/image/book--4.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>To Kill a Mocking Bird</h3>
                    <div class="price">₹235.00<span>₹450.00</span></div>
                    <a href="#" onclick="alert('Item added to Shopping Cart');" class="btn">add to cart</a>
                </div>
            </div>

            
        </div>
</div>
</section> 


{{!-- ---------------Subscribe Section------------------------------- --}}


<section class="newsletter">

    <form action="">
        <h3>subscribe for latest updates</h3>
        <input id="emailAddress" type="email" name="" placeholder="enter your email" class="box" required>
        <input type="submit" value="subscribe" class="btn" onclick="alert('You have been Subscribed');">
    </form>
</section>


{{!--  ---------------About Section-------------------------------  --}}


<div class="aboutsection" id="aboutsection">
    <div class="abttextbox">
        <h1>About Us</h1>
        <h3>Best Experience</h3>
        <p>Book Galore is a layout, multi-disciplinary brand that offers items, activities, and experiences associated with books and reading.</p>
        <p>ipsum dolor sit amet consectetur, adipisicing elit. Vitae error sunt veritatis nullt repellat aperiam optio saepe at dolorum reiciendis ut.</p>
        <div class="abtreadmoreopt"><a href="/about">Read More</a></div>
    </div>
</div>



{{!-- ---------------ContactSection-------------------------------  --}}


<div class="queriesbox" id="queriesbox">
    <h1>Have any Queries??</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, possimus quaerat. Unde quis quibusdam veniam reiciendis, dolore facilis expedita voluptatibus sapiente aliquam dolorem aspernatur alias commodi. Necessitatibus ex vitae ea.</p>
    <a href="/contactus" >Contact Us</a>
</div>



<center><hr size="3.5" width="75%" color="black">  </center>


{{>footer}}

</body>
</html>