<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Book Galore Sign Up Page</title>
    <link rel="stylesheet" href="Css/CSS1.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <form>
        <label>First Name</label>
        <input type="text" placeholder="Enter your First Name" />
        <label>Last Name</label>
        <input type="text" placeholder="Enter your Last Name" />
        <label>Email</label>
        <input type="email" placeholder="Enter your email here..." />
        <label>Password</label>
        <input type="password" placeholder="Must have atleast 6 characters"/>
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password & Password must be Same" />
        <a href="/signin" class="btn" onclick="alert('Thank You For Creating an account.');" ><b>Submit</b></a>
      </form>
      <p class="para-2">
        Already have an account? <a href="/signin">Login here</a>
      </p>
    </div>

  </body>
</html>
