<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Book Galore </title>
    <link rel="stylesheet" href="Css/CSS1.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <label>Email</label>
        <input type="email" placeholder="email@address.com" />
        <label>Password</label>
        <input type="password" placeholder="Must have atleast 6 characters" />
        <a href="/" class="btn" ><b>Submit</b></a>
      </form>
      <p class="para-3">
        Don't have an account? <a href="/signup">Sign Up Here</a>
      </p>
    </div>
  </body>
</html>
