<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- For font awesome cdn link -->
    <script src="https://kit.fontawesome.com/cc9cc1a515.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Rouge+Script&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Qwitcher+Grypen&family=Rouge+Script&display=swap');


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
}

.footer .box-container .box h3{
    font-size: 22px;
    color:#444;
    padding:10px 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 14px;
    color:#666;
    padding:10px 0;
}

.footer .box-container .box a i{
    color:#27ae60;
    padding-right: 5px;
}

.footer .box-container .box a:hover i{
    padding-right: 20px;
}

.footer .box-container .box .map{
    width:100%;
}



 .footer .share{
    padding:10px 0;
    color:#444;
    font-size: 22px;
    text-align: center;
    
} 

.footer .share a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    color:#fff;
    background:#27ae60;
    margin:0 3px;
    border-radius: 50%; 
    transition: .5s;
}

.footer .share a:hover{
    background: white; 
    color: #27ae60;
    box-shadow: 0 0 8px #27ae60;
    text-shadow: 0 0 0 #27ae60;   
}
.footer .share a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 0 #27ae60;
  }



</style>
</head>
<body>

<section class="footer">

    <div class="box-container">


        <div class="box">
            <h3>quick links</h3>
            <a href="#home"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#featured"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="/arrivals"> <i class="fas fa-arrow-right"></i> arrivals </a>
            <a href="#aboutsection"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#queriesbox"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +91 80085 28123 </a>
            <a href="#"> <i class="fas fa-phone"></i> +91 73961 48439</a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwRCKwLhvJsPbFFmfRSscJzZZVMvgNThMsNkVSRLHcBDqQNrxPTtqMjHtjhKQRBssnzpbCT" 
            target="_blank" > <i class="fas fa-envelope"></i>godavarthisai.nikhil.21cse@bmu.edu.in </a>
            <a href="https://www.google.com/maps/place/India+Gate+Cir,+Pandara+Flats,+India+Gate,+New+Delhi,+Delhi/@28.6097395,77.227924,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce2d0ff0f84b7:0x377998606db03f55!8m2!3d28.6097395!4d77.2301127" 
            target="_blank"> <i class="fas fa-map-marker-alt"></i> Delhi, India - 110012 </a>
        </div>
        
        <div class="share">
            <h3>Follow Us</h3>
                 <a href="https://www.facebook.com/"  target="_blank" class="fab fa-facebook-f"> </a>
                <a href="https://twitter.com/i/flow/login" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com/?hl=en" target="_blank" class="fab fa-instagram"></a>
                <a href="https://in.linkedin.com/" target="_blank" class="fab fa-linkedin"></a> 
                
        </div>
        
    </div>

</section>


</body>
</html>